*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Helvetica Neue", Arial, sans-serif;
}

/* Navbar*/
.navbar{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background-color: lightgray;
    position: fixed;
    right:0;
    left:0;
    top:0;
    

}
.navbar ul{
    display:flex;
    list-style: none;
    margin: 20px 0px;

}

.navbar ul li{
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;

}

.navbar ul li {
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;

}
.navbar ul li a{
    text-decoration: none;
    font-size: 20px;
}
.navbar ul li a:hover{
    
    color:black;
    box-shadow:0 0 10px white;
}




/* Home Section */
#Home{
    display:flex;
    flex-direction: column;
    background-color:white;
    justify-content: center;
    align-items: center;
    color:black;
    margin-top: 150px;
}
 .header{
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: ;
 }


.main{
    display:flex;
    flex-direction:column;
    border:1px solid white;
    align-items:center;
}
.heading{
    font-family:century;
    font-size:3rem;
    text-align:center;


}

.btn{
    padding:20px 75px;
    background-color: white;
    border:1px solid white;
    color:  white;
    outline: none;
    transition: .6s ease;
    margin: auto;
   padding: 40px;
}

.btn{
    cursor:pointer;
    background-color:white;
    color: black;
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
    font-weight: bold;

}
#About{
    display: flex;
    flex-direction: column;
    box-sizing : border-box;
    padding:20px;
    margin-bottom: 50px;
    
}
.heading{
    margin-bottom:50px
}
#pic{
    display: flex;
    
}
.image{
    width:400px;
    height: 400px
;
}
#pic img{
     width:100%;
     height: 100%;
     object-fit: contain;
    
    

}

#intro {
    width:50%;
    display:flex;
    flex-direction: column;
    text-align:justify;
    padding: 20px;
    font-size: 2.0rem;
    font-size: century;

    

}

#intro h2{
    font-size:20rem;
    margin-bottom: 20px;
}
#intro p{
    font-size: 23px;
    margin-left:20px;
}
#Portfolio{
    display:flex;
    flex-direction: column;
    background-color: lightgray;
    color:black;
    align-items: center;
    justify-content: space-between;
    padding:70px 20px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
}
.gallery-img{
  margin:20px     
}
.gallery img{
    width:360px;
    height: 240px;
    margin: 10;
}
#Projects{
    display: flex;
    flex-direction: column;
    padding:20px;
    
}
.row{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.box{
    display:flex;
    flex-direction: column;
    width:350px;
    height:450px;
    border:1px solid black;
    margin:10px;
    padding: 20px;
    align-items:center;
    text-align:justify;

    border-radius:15px;


}

.box:hover{
    background-position:left botttom;
    color:black;
    border:none;
    box-shadow: 0 0 20px rgb(255,45,45);
}
#Contact{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.7);
    color:white;
    padding:20px;
    justify-content: center;
    margin-bottom: 50px;
}

#Contact h1{
    margin-bottom: 60px;
}
#Contact div{
  text-align: center;
  display: flex;
  justify-content: center;
}
#Contact div li{
    list-style: none;
    padding:10px 40px ;
    font-size:20px;
}
#Contact div li a{
    color:white;

}



  
















